<div class="category__header draggable-origin" data-bind="class: addClass">
  <div class="icon icon-open" data-bind="component: { name: 'icon-open' }, click: onClickIcon"></div>

  <!-- ko text: label --><!-- /ko -->

  <div class="icon icon-draggable" data-bind="component: { name: 'icon-draggable' }"></div>
</div>

<div class="category__content" data-bind="slideVisible: open, drop: { namespace: 'item', list: children }"><!-- ko foreach: children -->
  <div class="item" data-bind='component: { name: "item", params: $data },
                               beforeRemove: $parent.hidePlanetElement,
                               afterAdd: $parent.showPlanetElement,
                               draggable: {namespace: "item", list: $parent.children}
'
  ></div>
  <!-- /ko --></div>
